footer {
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    grid-gap: 0.3em;
    align-items: center;
    justify-content: end;

    margin-right: 0.5rem;

    font-size: 12px;
    color: $keppel;
    
    a {
        color: $keppel;
    }
}