body {
    position:relative;
    overflow:auto;

    margin: 0;

    width: 100vw;
    height: 100vh;

    font: 20px $poppins;
}

main {
    display: grid;
    grid-template-rows: 18% 82%;
    justify-items: center;

    height: 100%;

    font-size: 20px;

    @include for-big-desktop;
    @include for-desktop;
    @include for-tablet {
        grid-template-rows: 10% 90%;
    }
}