section.home-nav {
    display: grid;
    grid-template-rows: 25% 35% 40%;

    width: 100%;

    background: no-repeat center/100% url("/dist/img/back-main-page-5.jpg");

    // lorem ipsum
    & p {
        margin: 0 2rem;
        padding: 0;

        background-color: transparentize(mix($keppel, #000, 50%), 0.68);

        font-size: 26px;
        color: mix($mandys-pink, #fff,10%);
        text-shadow: mix($dorado, #000, 20%) 1px 0 6px;

        @include for-phone-landscape {
            margin: 0 2rem;
            }

        @include for-big-desktop;
        @include for-desktop;
        @include for-tablet {
            margin: 0 4rem 0 2rem;
            padding: 0 2rem;
        }

        &:first-of-type {
            margin-top: 2rem;
            padding-top: 3rem;

            font: 32px $ms-madi;

            @include for-phone-landscape {
                margin: 0 2rem;
                padding: 1.5rem;
            }
            
            @include for-big-desktop;
            @include for-desktop;
            @include for-tablet {
                padding: 6rem 2rem 0 2rem;
            }
        }
    }

    // opem menu button
    button {
        margin: 1em;
        height: 3em;

        width: 9em;

        background-color: transparentize(mix($mandys-pink, #fff,10%), 0.2);
        border: 2px solid $keppel;

        font: 20px $poppins;
        color: $keppel;

        &:hover,
        &:focus,
        &:active {
            transform: scale(1.05);
            background-color: mix($mandys-pink, #fff,10%);
        }

        @include for-phone-landscape {
            margin: 1rem 2rem;
            }

        @include for-big-desktop;
        @include for-desktop;
        @include for-tablet {
            margin: 2rem 4rem 0 2rem;
        }
    }
}
